.profile-navbar-container {
    height: 90rem;
    margin: 1.25rem; 
    border-radius: 0.5rem;
    background-color: #2d3748;
    min-width: fit-content;
  }
  
  @media (max-width: 768px) {
    .profile-navbar-container {
      width: 98vw; 
      height: fit-content;
      margin: 0.5rem;
    }
  }
  
.profile-navbar {
    display: flex;
    flex-direction: column;
  }
  
  .profile-navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .profile-navbar li {
    padding: 0.75rem !important;
    margin: 0 !important;
    align-self: baseline !important;
  }
  
  .profile-navbar li a {
    padding: 0.5rem;
    border-radius: 0.75rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .profile-navbar li a.active {
    background-color: #ffffff;
    width:fit-content;
    color: #000000;
  }
  
  @media (max-width: 768px) {
    .profile-navbar {
      flex-direction: row;
    }
  
    .profile-navbar ul {
      flex-direction: row;
    }
  
    .profile-navbar li {
      padding: 0 !important; 
      margin: 0 !important; 
    }
  }
  
  .mt-15{
    margin-top: 5rem;
  }