.logins {
  min-height: 100vh;
  background-image: url('https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 12%;
}

.login-title{
  font-size: xx-large;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.login-container {
  background-color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-field {
  position: relative;
}

.password-field input {
  padding-right: 40px; /* Adjust as needed */
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.password-toggle:hover {
  color: #0056b3;
}

.login-button {
  padding: 10px;
  background-color: #007bff;
  color: #000;
  border: solid 1px;
  border-color: #000;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
  border: none;
  color: #fff;
}
