html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-main{
  background-color: #b18b5e;
  min-height: 100vh;
}

.login{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.login-header{
  margin: 10px 0px;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
  font-weight: 500;
}

.bg-wishlisht{
  background-color: #113537;
}

.h-80vh{
  min-height: 80vh;
}